# JBI100 Visualization 
### Academic year 2025-2026

## Health and Global Statistics
Data sources:

- Hospital Beds Management (https://www.kaggle.com/datasets/jaderz/hospital-beds-management/data)
- CIA Global Statistical Database (https://www.kaggle.com/datasets/kushagraarya10/cia-global-statistical-database)

Data dictionaries and additional info can be found in the respective data folders.
Note: you only need to select one dataset for your project; the dataset that you choose consists of multiple CSV files.

In [1]:
# Import libraries
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
from PIL import Image
import os
import plotly.io as pio

# Render plotly in IFrame
pio.renderers.default = 'iframe'

# Do not truncate tables
pd.set_option('display.max_columns', None)

# If you receive a 'ModuleNotFoundError' please install the according library. 
# This can be done from within the Jupyter environment with the command 
#'!python -m pip install lib' where lib is the according library name.

In [2]:
# Load the data
# CIA Global Statistical Database
df_CIA_communications        = pd.read_csv('../CIA Global Statistical Database/communications_data.csv', delimiter=',', low_memory=False)
df_CIA_demographics          = pd.read_csv('../CIA Global Statistical Database/demographics_data.csv', delimiter=',', low_memory=False)
df_CIA_economy               = pd.read_csv('../CIA Global Statistical Database/economy_data.csv', delimiter=',', low_memory=False)
df_CIA_energy                = pd.read_csv('../CIA Global Statistical Database/energy_data.csv', delimiter=',', low_memory=False)
df_CIA_geography             = pd.read_csv('../CIA Global Statistical Database/geography_data.csv', delimiter=',', low_memory=False)
df_CIA_government_and_civics = pd.read_csv('../CIA Global Statistical Database/government_and_civics_data.csv', delimiter=',', low_memory=False)
df_CIA_transportation        = pd.read_csv('../CIA Global Statistical Database/transportation_data.csv', delimiter=',', low_memory=False)

## Explore CIA Global Statistical Database

In [3]:
df_CIA_demographics.sample(5)

,Country,Total_Population,Population_Growth_Rate,Birth_Rate,Death_Rate,Net_Migration_Rate,Median_Age,Sex_Ratio,Infant_Mortality_Rate,Total_Fertility_Rate,Total_Literacy_Rate,Male_Literacy_Rate,Female_Literacy_Rate,Youth_Unemployment_Rate
9,ANTIGUA AND BARBUDA,101489,1.13%,15.01,5.69,2.01,32.7,0.89,13.95,1.94,99%,98.4%,99.4%,NaN
234,TRINIDAD AND TOBAGO,1407460,0.12%,10.60,8.50,1.00,38.0,1.01,15.40,1.63,99%,99.2%,98.7%,12.7%
55,"CONGO, DEMOCRATIC REPUBLIC OF THE",111859928,3.13%,39.64,7.74,0.63,16.7,1.00,59.12,5.56,80%,22.7%,2.9%,10.1%
241,UKRAINE,43306477,2.33%,5.80,19.80,37.30,45.3,1.00,9.00,1.22,100%,40%,11.5%,16.5%
171,NORTH MACEDONIA,2133410,0.11%,10.33,9.61,0.38,39.0,0.99,7.16,1.52,98.4%,99.1%,97.6%,34.1%

In [4]:
df_CIA_demographics.describe()

,Birth_Rate,Death_Rate,Net_Migration_Rate,Median_Age,Sex_Ratio,Infant_Mortality_Rate,Total_Fertility_Rate
count,228.000000,230.000000,229.000000,227.000000,227.000000,227.000000,227.000000
mean,26.361842,25.018565,3.657511,31.833480,1.004229,19.367665,11.292555
std,132.909844,187.367894,5.565715,9.236467,0.187592,18.431299,133.983614
min,5.800000,1.420000,-2.400000,14.800000,0.830000,1.500000,1.090000
25%,10.800000,5.702500,0.630000,24.050000,0.950000,5.755000,1.680000
50%,15.030000,7.255000,1.890000,31.700000,0.980000,12.000000,1.970000
75%,22.225000,9.100000,4.400000,39.500000,1.010000,28.525000,2.800000
max,2020.000000,2021.000000,45.800000,55.400000,3.340000,103.060000,2021.000000

In [6]:
fig = px.bar(df_CIA_demographics, x="Country", y="Total_Population", color="Median_Age", color_continuous_scale='Viridis',
                   log_y=True,width=1500, height=800).update_xaxes(categoryorder="total descending")
fig.show()